# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest
    # defaults:
    #   run:
    #     working-directory: ./src/TodoApi
        
    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    - name: Restore dependencies
      working-directory: ./src/TodoApi
      run: dotnet restore

    - name: Build
      working-directory: ./src/TodoApi
      run: dotnet build --configuration Release

    - name: Publish
      working-directory: ./src/TodoApi
      run: dotnet publish -c Release -o ./asp_publish

    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v3
      with:
        name: upload artifact
        path: ./src/TodoApi/asp_publish/**
   
